.explore-category{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-category h1{
    font-weight: 500;
    color: #522906;
}
.explore-category-list{
   display: flex; 
   align-items: center;
   gap: 30px;
   text-align: center;
   overflow-x: scroll;
   overflow-y: hidden; 
   scrollbar-width: none; 
   padding-bottom: 0px;

}

.explore-category-list-item img {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    object-fit:fill;
    display: block;
    cursor: pointer;
}
.explore-category-list-item p {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    font-weight: 200;
   
}

.explore-category-list-item :hover{
    color: #C18E60;
    cursor: pointer;
   
}
.explore-category-list-item img.active{
border: 2px solid #C18E60;
padding: 6px;

}
.explore-category-list-item p.active{
    color: #C18E60;
    font-weight: bold;
    
    }

.explore-category hr{
   margin-top: 1px;
}
hr{
    color: lightgray;
    border: 0.5px solid lightgray;
}



