.navbar {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 100px;
    cursor: pointer;
}

.navbar .navbar-menues {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #2C2C2C;
    font-size: 15px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.search {
    width: 25px;
}

.wishlist {
    width: 25px;
}

.cart-symbol {
    width: 25px;
}

.signin {
    background: transparent;
    font-size: 15px;
    border-radius: 50px;
    color: #2C2C2C;
    border: 1px solid #A47148;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #C18E60;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #2C2C2C;
}

.navbar li {
    cursor: pointer;
}

.cart-icon-section {
    position: relative;
}

.cart-icon-section .notify {
    position: absolute;
    color: white;
    min-width: 15px;
    min-height: 15px;
    background-color: red;
    border-radius: 50%;
    right: -8px;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar-menues a{
    text-decoration: none;
}